

header{
    grid-area:header; 
    display: grid;
    grid-template-rows:auto auto; 
}
main{
    grid-area: main; 
    text-align: center; 
    height:98% ;
}
nav > ul{
    display: grid; 
    height:100%; 
    gap:25px; 
    grid-template-columns: 1fr 1fr 1fr; 
    margin:0; 
    padding:0; 
}
h2{
    Border: 1px solid black;
    border-radius: 10px;
}
footer{
    grid-area: footer; 
    background-color: gray;
}
a{
    text-decoration: none; 
}
.Info{
    font-size: 19px;

}
li{
    text-align: center; 
    list-style: none; 
    display: grid; 
    justify-content: stretch; 
    border: 1px solid black; 
    padding: 10px; 
    margin-bottom: 15px; 
    border-radius: 10px; 
}
.wrapper{
    height: 100%; 
    display: grid; 
    grid-template-rows:150px auto 55px ;
    grid-template-areas: 
        "header"
        "main"
        "footer";      
}
#meny{
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-areas: 
    "Burger"
    "Fries"
    "Steak";
    width: 50px;
         
}
#Banner{
    width: 100%;
    height: auto;
}
.Burger{
    border: 1px solid; 
    padding: 10px;
    border-radius: 10px;
    grid-area: "Burger";
    
}
.Fries{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    grid-area: "Fries";
}
.Steak{
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;
    grid-area: "Steak";
}
img{
    width: 300px;
    height: auto; 
    border-radius: 10px; 
}
footer{
    grid-area: footer;
}
#mustang{
    height: auto;
    width: 100%;
}
.side_2 > wrapper{
    height: 100%; 
    width: 100%;
    display: grid; 
    grid-template-rows:10% 80% 10%;
    grid-template-areas: 
        "header"
        "main"
        "footer"; 
}
#meny > section{
    border: solid 1px black;
    border-radius: 20px;
    margin-left:160px;
    margin-right:160px;
    margin-bottom:50px ;
}